@model ConoceAColombia.mvc.Models.EstadoIncidencia

@{
    /**/

    ViewBag.Title = "Details";
}

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stDescripcion)
        </dt>

        <dd>
            @Html.EditorFor(model => model.stDescripcion, new { htmlAttributes = new { @class = "form-control" } })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.inId }, new { @class = "btn btn-primary btn-sm" }) |
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary btn-sm" })
</p>

